anyio
asgiref
async-generator
beautifulsoup4
certifi
chardet
charset-normalizer
cloudinary
contextvars
crispy-bootstrap5
dataclasses
dj-database-url
Django
django-bootstrap4
django-braces
django-countries
django-crispy-forms
django-heroku
django-model-utils
django-star-ratings
djangorestframework
dnspython
email-validator
gunicorn
h11
httpcore
httpx
idna
immutables
Pillow
psycopg2-binary
pydantic
python-dateutil
python-decouple
python-dotenv
pytz
pyuploadcare
requests
rfc3986
six
sniffio
soupsieve
sqlparse
swapper
typing_extensions
tzdata
urllib3
whitenoise
