{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

{% block content %}
<div class="container-fluid" style="margin-top:45px;">
    <div class="container-fluid">
        <!DOCTYPE html>
        <html class="no-js" lang="en">
        <body class="home bg-light" data-debug="0">
            <section id="content">
                <div class="content-view">
                    <div class="box-site-head js-single-element"
                        data-model="{&quot;likes&quot;:55,&quot;id&quot;:38186,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2019\/10\/5da42f4e8967d075754281.jpg&quot;},&quot;slug&quot;:&quot;laguta-laguta&quot;,&quot;title&quot;:&quot;Laguta &amp; Laguta&quot;,&quot;createdAt&quot;:1571616000,&quot;tags&quot;:[&quot;Design Agencies&quot;,&quot;Mobile &amp; Apps&quot;,&quot;Web &amp; Interactive&quot;,&quot;Flat Design&quot;,&quot;Minimal&quot;,&quot;Portfolio&quot;,&quot;Responsive Design&quot;,&quot;Black&quot;,&quot;Red&quot;,&quot;White&quot;,&quot;Gallery&quot;,&quot;GSAP Animation&quot;,&quot;UI design&quot;,&quot;Nuxt.js&quot;],&quot;type&quot;:&quot;submission&quot;}">
                        <div class="box-bg has-tablet">
                            <a href="{% url 'project' random_post.title %}">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB2wAAAK8AQMAAAAZMt0LAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAANJJREFUeNrswYEAAAAAgKD9qRepAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABg9uBAAAAAAADI/7URVFVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVWlPTgkAAAAABD0/7UzLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAKNogABue9NggAAAABJRU5ErkJggg=="
                                    width="1920" height="720" class="lazy" />
                            </a>
                        </div>
                        <div class="box-content over" style="background-image:url({{random_post.photo.cdn_url}});box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.414);background-size: cover;">
                            <a href="{% url 'project' random_post.title %}"  class="site-link" aria-label=""></a>
                            <div class="inner vertical-center">
                                <div class="box-info">
                                    <div class="row mx-auto D-block">
                                        <h2 class="heading-large"><a class='text-light' href="{% url 'project' random_post.title %}" id="grim"
                                                style="margin-top:-100px;">{{ random_post.title }}</a>
                                        </h2>
                                    </div>
                                    <div class="row mx-auto D-block">
                                        <div class="by text-light ">
                                            by <strong><a href="">{{ random_post.user.username }}</a>
                                            </strong> from <strong class='text-light'>{{ random_post.user.profile.location.name }}</strong>
                                        </div>
                                    </div>
                                    <div class="box-notesite js-notes">
                                        <ul>
                                            {% for rating in random_post.ratings.all %}
                                            {% if forloop.counter is random_post.ratings.all.count %}
                                            <li class="circle-note-progress style-design" data-note="">
                                                <div class="circle">
                                                    <div class="des">
                                                        <p class="d-block mx-auto textrate text-light">{{rating.design_average}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="legend text-light">DESIGN</div>
                                            </li>
                                            <li class="circle-note-progress style-usability"
                                                data-note="{{rating.usability_average}}">
                                                <div class="circle">
                                                    <div class="des1">
                                                        <p class="d-block mx-auto textrate text-light">{{rating.usability_average}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="legend text-light">USABILITY</div>
                                            </li>
                                            <li class="circle-note-progress style-creativity"
                                                data-note="{{rating.content_average}}">
                                                <div class="circle">
                                                    <div class="des5">
                                                        <p class="d-block mx-auto textrate text-light">{{rating.creativity_average}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="legend text-light">CREATIVITY</div>
                                            </li>
                                            <li class="circle-note-progress style-creativity"
                                                data-note="{{rating.content_average}}">
                                                <div class="circle">
                                                    <div class="des2">
                                                        <p class="d-block mx-auto textrate text-light">{{rating.content_average}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="legend text-light">CONTENT</div>
                                            </li>
                                            <li class="circle-note-progress style-content"
                                                data-note="{{ rating.score }}">
                                                <div class="circle">
                                                    <div class="des3">
                                                        <p class="d-block mx-auto textrate text-light">{{rating.score}}</p>
                                                    </div>
                                                </div>
                                                <div class="legend text-light">SCORE</div>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-breadcrumb">
                                    <div class="box-left">
                                        <strong class="parent">
                                            <a href="{% url 'project' random_post.title %}">Site of the Day</a>
                                        </strong>
                                        <span class="text-x-thin text-light">{{random_post.date|date}}</span>
                                    </div>
                                </div>
                                <div class="box-bl">
                                    <a href="{{random_post.url}}" style="margin-bottom: -25px;"class="js-visit-item bt-default green-fill" target="_blank" rel="noopener nofollow">Visit Site</a>
                                    <a href="{{random_post.url}}" style="margin-bottom: -25px;"class="js-visit-item bt-default white-outline" target="_blank" rel="noopener nofollow">Collect</a>
                                </div>
                                <div class="box-bl" style="margin-left: 1000px;margin-bottom:-25px;">
                                   <span data-toggle="modal" data-target="#product-modal" style="border-radius: 30px;" class='btn btn-sm btn-light btn-left'><img style="width:20px;height:20px;margin-right: 20px;" src="/static/images/medal.png">Jury Votes</span>
                                </div>
                                <span><img style="margin-left:9px;margin-top: 400px;" class="rounded-circle nav-img" src="{{ random_post.user.profile.profile_picture.url }}" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </body>

        </html>
    </div>

    <div class="container">
        <h2 class="mt-4">Sites Of The Day</h2>
        {% if user.is_authenticated %}
        <!-- Modal -->
        <div class="modal product-modal fade" id="form-modal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tf-ion-close"></i>
            </button>
              <div class="modal-dialog " role="document">
                <div class="modal-content" style="background-image: url(/static/images/froyo.jpg);background-size: auto;">
                      <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" class="btn btn-sm btn-dark" value="Save" />
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
        </div><!-- /.modal -->
        {% endif %}
    
        <div class="row">
            {% if posts %}

            <div class="templates display">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img style="width: 480px;height: 200px"class="card-img-top" src="{{ post.photo.cdn_url }}" alt="{{photo.title}}"/>
                            <span class="bage" style="margin-top: 162px;position: absolute;right: 0;"><a class="text-light" href="{% url 'project' post.title %}">{{post.title|title}}<a href='{{post.url}}'><i style="margin-left: 5px;" class="tf-ion-ios-arrow-right text-light"></i></a></a></span>
                            <div class="preview-meta" style="margin-bottom: 125px;">
                                <ul>
                                    <a href="" style="font-size:20px;margin-left: 5px;"><img style="width: 18px;height:18px" src="/static/images/tree3.png" alt=""></a>
                                    <a href="" style="font-size:20px;margin-left: 5px;"><img style="width: 18px;height:18px" src="/static/images/tree2.png" alt=""></a>
                                    <a href="" style="font-size:20px;margin-left: 5px;"><i class="fa fa-pinterest text-light"></i></a>
                                    <a href="" style="font-size:20px;margin-left: 5px;"><img style="width: 18px;height:18px" src="/static/images/tree6.png" alt=""></a>
                                    <button style="border-radius: 20px;margin-left:40px;margin-top: 0px;font-size: 10px;height: 28px;width: 99px" class="btn btn-outline-light btn-sm">Collect</button>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <p style='margin:0;font-size: 15px;font-weight:100;' class='text-dark text-left'><strong>{{post.title}}</strong></p>
                            <p style='margin:0;' class='text-dark text-left'><small>From {{post.user.profile.location.name}}</small></p>
                            <p style='margin:0;' class="text-x-thin text-right text-dark">{{post.date|date}}</p>
                            <p style='margin:0;' class="text-x-thin text-left text-dark"><img style="margin-left:9px" class="rounded-circle nav-img" src="{{ post.user.profile.profile_picture.url }}" alt=""> By {{ post.user.username }}</p>
                            <p style='margin:0;' class="text-right"> 
                                <span class='badge badge-info badge-pill badge-right'>HM</span>
                                <span class='badge badge-danger badge-pill badge-right'>SOTD</span>
                                <span class='badge badge-warning badge-pill badge-right'>MW</span></p>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal product-modal fade" id="product-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="tf-ion-close"></i>
                    </button>
                      <div class="modal-dialog " role="document">
                        <div class="modal-content">
                              <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <div class="modal-image">
                                            <img class="img-responsive" src="{{random_post.photo.cdn_url}}" alt="product-img" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="product-short-details">
                                            <h2 class="product-title"></h2>
                                            <p class="product-price">{{ random_post.title }}</p>
                                            <p class="product-short-description">
                                                {{ random_post.description }}
                                            </p>
                                            <p class="product-short-description"><span><img class="rounded-circle nav-img" src="{{ random_post.user.profile.profile_picture.url }}" alt=""></span> by {{ random_post.user.username }}</p>
                                            <a href="{% url 'project' random_post.title %}" class="btn btn-main">RATE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div><!-- /.modal -->
                {% endfor %}
            </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}